[*]
end_of_line = lf
indent_style = space
indent_size = 2

[*.{lua,py}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[gitconfig]
indent_style = tab

# Ignore the entire "dotbot" directory.
[dotbot]
ignore = true
