#!/usr/bin/env bash

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory and anything in .gitignore, listing directories first.
# The output gets piped into `less` with options to preserve color, unless the
# output is small enough for one screen.
function tre() {
	tree -aC --gitignore -I '.git' --dirsfirst "$@" | less -FRX
}

# kill a process by name (requires bin/flip)
function yeet() {
	if [ ! "$1" ]; then
		echo "Usage: yeet process_name"
	elif killall "$1"; then
		echo
		echo " (╯°□°）╯︵$(echo "$1" | flip)"
		echo
	fi
}
